/* 
font width and style
*/
.main {
  font-family: "Yesteryear", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

/* .one {
  font-weight: 700;
}

.here {
  font-style: italic;
}

 .again {
  font-style: normal;
} 
.two {
  font-style: inherit;
}
#subheading {
  font-weight: lighter;
} */

/* ------------------TEXT ALIGN & INDENT--------------- */
body {
  text-align: left;
}

.one {
  text-indent: 10px;
}
