/* IMPORTANT CONCEPT
the default width of the browser is 100% 
so whenever there is block element and we are tyna add margin then we gotta be careful 
while adding right or left margin because
the default width is 100% so margin won't show any effect ont the website
so width must be addressed!!! 


--------------INLINE elements can't have a height and width similar to how they cannot have margin top/bottom or padding top/bottom---------------

*/

* {
  margin: 0;
  padding: 0;
}

/* for title */

.title {
  font-family: "Alegreya", serif;
  font-size: 2em;
  text-align: center;
  letter-spacing: 2px;
}

/* for nav bar */
ul {
  list-style-type: none;
  background: gray;
  padding: 6px;
  text-align: right;
}
li {
  text-decoration: none;
  background: rgba(90, 110, 175, 0.61);
  padding: 12px 10px;
  margin: 0 20px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
  font-size: large;
}

/* for about us page */

.para {
  font-family: "Merriweather", serif;
  font-size: small;
  font-weight: bold;
  color: white;
  line-height: 2em;
  word-spacing: 2px;
}

#about-us {
  font-family: "Alegreya", serif;
  text-align: center;
  letter-spacing: 1.5px;
}

.aboutus {
  padding: 10px;
  margin: 20px auto;
  background-color: rgba(90, 110, 175, 0.61);
}

/* for contact page */

#contact-us {
  font-family: "Alegreya", serif;
  letter-spacing: 1.5px;
}

.contactus {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: small;
  line-height: 3.5em;
}

/* for field */
.label {
  border: 1px solid gray;
  border-radius: 2em;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

/* button */

.button {
  outline: 2px solid rgba(34, 34, 175, 0.555);
  padding: 20px 25px;
  margin: 0 10px;
  width: 100px;
  border-radius: 2em;
  color: black;
  background: rgba(90, 110, 175, 0.61);
}

/* for the back to top arrow */

.backtotop a {
  color: white;
  background: rgba(57, 54, 199, 0.781);
  display: inline-block;
  width: 20px;
  text-align: center;
  outline: 2px solid rgba(57, 54, 199, 0.781);
  outline-offset: 2px;
  border-radius: 100px;
  padding: 15px 20px;
  margin: 10px;
}

.backtotop {
  text-align: right;
}
